div.transbox {
  position: absolute;
  z-index: 300;
  background-color: black;
  opacity: 0.6;
  width: 150vw;
  margin-left: -30vw;
  margin-top: -30vh;
  height: 150vh;
  display: none;
  position: fixed;
  z-index: 0;
}

.editAlbumForm {
  background-color: white;
  padding: 5vh;
  position: absolute;
  margin-left: 25vw;
  margin-top: 10vh;
  display: none;
  z-index: 1;
}
